#game {
  background-color: #111;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
}

#projectile {
  background: white;
  height: 5px;
  width: 5px;
  position: absolute;
  display: block;
}

#gun {
  width: 50px;
  height: 8px;
  background: blue;
  bottom: 20px;
  left: 200px;
  position: absolute;
  display: block;
  transform-origin: 0% 0%;
}
