#game {
  background-color: #111;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 800px;
  /* make wide screen */
}

#projectile {
  background: white;
  height: 5px;
  width: 5px;
  position: absolute;
  display: block;
  border-radius: 2px;
}

.gun {
  width: 12px;
  height: 30px;
  background: blue;
  bottom: 20px;
  position: absolute;
  display: block;
  transform-origin: 50% 100%;
}

#gun-1 {
}

#gun-2 {
}

#status {
  background: green;
  bottom: 400px;
  left: 300px;
  height: 50px;
  width: 200px;
  position: absolute;
  text-align: center;

}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#player-one-status {
  height: 50px;
  width: 100px;
  left: 50px;
  bottom: 450px;
  background: red;
  position: absolute;
}

#player-two-status {
  height: 50px;
  width: 100px;
  left: 650px;
  bottom: 450px;
  background: purple;
  position: absolute;
}

.tank {
  height: 20px;
  width: 40px;
  bottom: 0px;
}

#tank-1 {
  position: absolute;
  background: red;
}

#tank-2 {
  left: 670px;
  position: absolute;
  background: purple;

}
